* {
    margin: 0;
    padding: 0;
    gap: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 300px 20%;
}

input {
    height: 30px;
}

h2 {
    margin-top: 30px;
}

.containerEstatisticas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}